.left {
    margin-top:10%;
}

img{
    margin-left: 20%;
    max-width:100%;
    max-height:100%;
}

.right {
    margin-top: 10%;
}

mat-card-content{
    max-height: 530px;
    height:530px;
    overflow-x: hidden;
    display:block;
}

mat-card-content::-webkit-scrollbar { 
    display: none; 
}

.fromBot{
    background-color: #FAADA3;
    color: black;
    margin-right: 100px;
    border-radius: 10px 10px 10px 0px;
    padding-left: 10px;
    padding: 12px;
    margin-top: 10px;
}

.toBot{
    background-color: #94B9D4;
    color:black;
    margin-left: 100px;
    text-align: right;
    border-radius: 10px 10px 0px 10px;
    padding-right: 10px;
    margin-top: 10px;
    padding: 12px;
}
input {
    width: 93%;
    position: relative;
    border: none;
  
    height: 40px;
    background-color: white;
    margin: 0px 0px 6px 6px;
    padding: 10px;
    border-radius: 8px;
}

input:focus {
    outline: none !important;
}

mat-icon {
    color:white;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}