<div class="main">
	<div style="height: 100vh;" fxLayout="row" fxFlex="100">
		<div class="child-1 mt-5" fxFlex="calc(50%)">
			<img class="left-img" style="position: relative; right: 80px;" src="./assets/images/test1.jpg" alt="Italian Trulli" />
		</div>
		<div class="child-2" fxFlex="calc(50%)">
			<mat-card style="border-radius: none; background-color: #E2F3FD;" fxFlex="100">
				<mat-card-header style="border-bottom: 1px solid gray; color: black;">
					<div mat-card-avatar class="example-header-image"></div>
					<mat-card-title style="color: black; font-size: medium;">Finco Chatbot</mat-card-title>
					<mat-card-subtitle style="color: black;">
						<mat-icon style=" font-size:15px;color:green;">fiber_manual_record</mat-icon><span
							style="position: relative; top:-3px ; left:-2px">online</span>
					</mat-card-subtitle>
				</mat-card-header>
				<mat-card-content #scrollContainer [scrollTop]="scrollContainer.scrollHeight">
					<div *ngFor="let message of messages">
						<div [innerHTML]="message.author === 'bot' ? message.intent + ' for ' + message.id + ' is ' + message.content : message.content"
							[ngClass]="{ 'fromBot': message.author === 'bot','toBot': message.author === 'user' }">
						</div>
					</div>
					<div *ngIf="showLoading" class="fromBot">
						<mat-spinner [diameter]="20"></mat-spinner>
					</div>
				</mat-card-content>
				<mat-card-actions fxLayout="row">
					<input type="text" placeholder="Type your query" [formControl]='userSearch'
						(keydown)="onSubmit($event)" />
					<button mat-icon-button matPrefix (click)="textDetectionUsingVoice()" type="button">
						<mat-icon style="color: black;" class="mic-icon">mic</mat-icon>
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>
